<a href="https://colab.research.google.com/github/Devenderalla/python-/blob/main/MID_1_REVISION_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##prime number in given range using functions

In [17]:
a=20
b=40
print("prime num between",a,"and",b,"are : ")
for num in range (a,b+1):
  if num>1:
    for i in range(2,num):
      if(num%i)==0:
        break
    else:
          print(num)

prime num between 20 and 40 are :
23
29
31
37

#write a python programe to captalise first letter and last letter

In [ ]:
a=str(input())
n=a.split()
for i in n:
  b=i.capitalize()
  c=i[-1].capitalize()
  s=b[0:-1]+c
  print(s,end=" ")

indian movies
IndiaN MovieS

#To read any month in integer and display days for the month.

In [ ]:
def month(x):
  if x==1 or x==3 or x==5 or x==7 or x==8 or x==10 or x==12:
    print("31 days")
  elif x==2:
    print("28/29 days")
  elif x==4 or x==6 or x==9 or x==11:
    print("30 days")
  else:
    print("enter valid month number")
a=int(input("enter valid month number"))
month(a)

enter valid month number5
31 days

#wrap to read a string from the user and display first letter of each word with captail letter

In [ ]:
a=str(input())
n=a.split()
s=""
for i in n:
  s=i.capitalize()
  print(s,end=' ')

indian movies
Indian Movies

In [ ]:
#To print even length words in a string
def even(n):
  a=n.split()
  for i in a:
    if(len(i)%2==0):
      return(i)
    else:
      pass
n=str(input())
print(even(n))

ok
ok

#convert a list of multipule integer into a single integer

In [ ]:
n=int(input())
l=[]
for i in range(n):
  x=int(input())
  l.append(x)
print(l)
for i in l:
  print(i,end="")

1
99
[99]
99

#warp to find power of number with recursion and without recursion n=2,p=3

In [ ]:
#warp to sort tupels by total digits 
input:list=[(3,4,6,7,2,3),(1,2),(134,234,34)]
#wrap that prints 1 if all the three given numbers are in assending order.
input=1,2,3
output=1
#check given string is palindrome or not using string sclising
input=malyalam
#print sum of even digits in a given number
input=1243
output=6
#write a programe to caliculate sum of squares of digits of a number given by user
input=1,2,3
output=14
#given a string is s="abcdefcba" how many times 
#write a programe to count the number of string where he string length charecter are same from a given list of string.
#There is a walking track of 3kms.roundtrip of walking track means 3+3=6kms. 
#Given a list of students name in

#Given two integers A and B.if A is less than B,print all numbers from A and B in the assending order else print in decending order
#input:12,15
output:12,13,14,15

In [15]:
a=int(input("Enter value of A: "))
b=int(input("Enter value of B: "))
if a<b:
  for i in range (a,b+1):
    print(i)
else:
  for i in range (a,b-1,-1):
    print(i)

Enter value of A: 15
Enter value of B: 12
15
14
13
12

#Give a list of city names,print the city names whose length is greater than given length.
print city names("delhi","goa","agra","mumbai")

In [ ]:
a=["delhi","goa","agra","mumbai","patna"]
n=int(input("enter a number : "))
b=[]
for i in a:
  if len(i)>=n:
    b.append(i)
print(b)

enter a number : 5
['delhi', 'mumbai', 'patna']

#print number of ovels and consonents in a given string

In [5]:
a=input()
v=0
c=0
for i in range (len(a)):
  if a[i]=='a'or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u':
    v = v+1
  else:
    c = c+1
print("vowels=",v)
print("consonents=",c)

gitam university
vowels= 6
consonents= 10

#find the gcd of 2 numbers
input= 5,3
output=1

In [ ]:
import math           #gcd=LCM
def GCD(x,y):
    r=x%y              #remainder
    if(r==0):
        return y
    else:
        return GCD(y,r)       #GCD(y,r) we have taken y is diviser and r is remainder.because they two are math functions.
n= int(input("Enter the first number :"))
m= int(input("Enter the second number :"))
print("The GCD of two numbers is:", GCD(n,m))

Enter the first number :5
Enter the second number :3
The GCD of two numbers is: 1

#check given number is  perfect or not.

In [4]:
n=int(input("enter a number:"))
i=1
sum=0
while i<n:
  if n%i ==0:
    sum=sum+i
  i=i+1
if sum==n:
  print("perfect number")
else:
  print ("not a perfect number")

enter a number:6
perfect number

#Take five subject marks from the user and display the grade 
if avg is 90-100 o grade 80 to 89 a+ 70 to 79 is A 60 to 69 B+ <40 fail.

In [26]:
a=int(input("Enter the marks of subject 1: "))
b=int(input("Enter the marks of subject 2: "))
c=int(input("Enter the marks of subject 3: "))
d=int(input("Enter the marks of subject 4: "))
e=int(input("Enter the marks of subject 5: "))
avg = (a+b+c+d+e)//5
print(avg)

if 90<avg<100:
  print("o")
elif 80<avg<89:
  print("A+")  
elif 70<avg<79:
  print("A")
elif 60<avg<69:
  print("B+")
elif 50<avg<59:
  print("b")
else:
  print("Fail")

Enter the marks of subject 1: 55
Enter the marks of subject 2: 55
Enter the marks of subject 3: 56
Enter the marks of subject 4: 54
Enter the marks of subject 5: 58
55
b

#print sum of even digits in a given number
input=1243
output=6