<a href="https://colab.research.google.com/github/Devenderalla/python-/blob/main/MID_1_REVISION_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##prime number in given range using functions

In [ ]:
def prime(a,b):
  for i in range(a,b+1):

#write a python programe to captalise first letter and last letter

In [8]:
a=str(input())
n=a.split()
for i in n:
  b=i.capitalize()
  c=i[-1].capitalize()
  s=b[0:-1]+c
  print(s,end=" ")

indian movies
IndiaN MovieS

#To read any month in integer and display days for the month.

In [2]:
def month(x):
  if x==1 or x==3 or x==5 or x==7 or x==8 or x==10 or x==12:
    print("31 days")
  elif x==2:
    print("28/29 days")
  elif x==4 or x==6 or x==9 or x==11:
    print("30 days")
  else:
    print("enter valid month number")
a=int(input("enter valid month number"))
month(a)

enter valid month number5
31 days

#wrap to read a string from the user and display first letter of each word with captail letter

In [7]:
a=str(input())
n=a.split()
s=""
for i in n:
  s=i.capitalize()
  print(s,end=' ')

indian movies
Indian Movies

In [ ]:
#To print even length words in a string
def even(n):
  if len(n)%2==0

#convert a list of multipule integer into a single integer

In [ ]:
a=eval(input("enter list elements"))