<a href="https://colab.research.google.com/github/Devenderalla/python-/blob/main/MID_1_REVISION_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##prime number in given range using functions

In [1]:
a=25
b=50
print("prime num between",a,"and",b,"are : ")
for num in range (a,b+1):
  if num>1:
    for i in range(2,num):
      if(num%i)==0:
        break
    else:
          print(num)

prime num between 25 and 50 are :
29
31
37
41
43
47

#write a python programe to captalise first letter and last letter

In [ ]:
a=str(input())
n=a.split()
for i in n:
  b=i.capitalize()
  c=i[-1].capitalize()
  s=b[0:-1]+c
  print(s,end=" ")

indian movies
IndiaN MovieS

#To read any month in integer and display days for the month.

In [ ]:
def month(x):
  if x==1 or x==3 or x==5 or x==7 or x==8 or x==10 or x==12:
    print("31 days")
  elif x==2:
    print("28/29 days")
  elif x==4 or x==6 or x==9 or x==11:
    print("30 days")
  else:
    print("enter valid month number")
a=int(input("enter valid month number"))
month(a)

enter valid month number5
31 days

#wrap to read a string from the user and display first letter of each word with captail letter

In [ ]:
a=str(input())
n=a.split()
s=""
for i in n:
  s=i.capitalize()
  print(s,end=' ')

indian movies
Indian Movies

In [ ]:
#To print even length words in a string
def even(n):
  a=n.split()
  for i in a:
    if(len(i)%2==0):
      return(i)
    else:
      pass
n=str(input())
print(even(n))

ok
ok

#convert a list of multipule integer into a single integer

In [ ]:
n=int(input())
l=[]
for i in range(n):
  x=int(input())
  l.append(x)
print(l)
for i in l:
  print(i,end="")

1
99
[99]
99

#warp to find power of number with recursion and without recursion (input n=2,p=3)

#programe to print the greatest of three numbers

In [34]:
a=int(input())
b=int(input())
c=int(input())
if (a >= b) and (a >= c):
   largest = a
elif (b >= a) and (b >= c):
   largest = b
else:
   largest = c

print("The largest number is", largest)

23
45
67
The largest number is 67

#Given two integers A and B.if A is less than B,print all numbers from A and B in the assending order else print in decending order
#input:12,15
output:12,13,14,15

In [ ]:
a=int(input("Enter value of A: "))
b=int(input("Enter value of B: "))
if a<b:
  for i in range (a,b+1):
    print(i)
else:
  for i in range (a,b-1,-1):
    print(i)

Enter value of A: 15
Enter value of B: 12
15
14
13
12

#Give a list of city names,print the city names whose length is greater than given length.
print city names("delhi","goa","agra","mumbai")

In [ ]:
a=["delhi","goa","agra","mumbai","patna"]
n=int(input("enter a number : "))
b=[]
for i in a:
  if len(i)>=n:
    b.append(i)
print(b)

enter a number : 5
['delhi', 'mumbai', 'patna']

#print number of ovels and consonents in a given string

In [ ]:
a=input()
v=0
c=0
for i in range (len(a)):
  if a[i]=='a'or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u':
    v = v+1
  else:
    c = c+1
print("vowels=",v)
print("consonents=",c)

gitam university
vowels= 6
consonents= 10

#find the gcd of 2 numbers
input= 5,3
output=1

In [ ]:
import math           #gcd=LCM
def GCD(x,y):
    r=x%y              #remainder
    if(r==0):
        return y
    else:
        return GCD(y,r)       #GCD(y,r) we have taken y is diviser and r is remainder.because they two are math functions.
n= int(input("Enter the first number :"))
m= int(input("Enter the second number :"))
print("The GCD of two numbers is:", GCD(n,m))

Enter the first number :5
Enter the second number :3
The GCD of two numbers is: 1

#check given number is  perfect or not.

In [ ]:
n=int(input("enter a number:"))
i=1
sum=0
while i<n:
  if n%i ==0:
    sum=sum+i
  i=i+1
if sum==n:
  print("perfect number")
else:
  print ("not a perfect number")

enter a number:6
perfect number

#Take five subject marks from the user and display the grade 
if avg is 90-100 o grade 80 to 89 a+ 70 to 79 is A 60 to 69 B+ <40 fail.

In [ ]:
a=int(input("Enter the marks of subject 1: "))
b=int(input("Enter the marks of subject 2: "))
c=int(input("Enter the marks of subject 3: "))
d=int(input("Enter the marks of subject 4: "))
e=int(input("Enter the marks of subject 5: "))
avg = (a+b+c+d+e)//5
print(avg)

if 90<avg<100:
  print("o")
elif 80<avg<89:
  print("A+")  
elif 70<avg<79:
  print("A")
elif 60<avg<69:
  print("B+")
elif 50<avg<59:
  print("b")
else:
  print("Fail")

Enter the marks of subject 1: 55
Enter the marks of subject 2: 55
Enter the marks of subject 3: 56
Enter the marks of subject 4: 54
Enter the marks of subject 5: 58
55
b

#print sum of even digits in a given number
input=1243
output=6

In [33]:
a=str(input())
sum=0
for i in a:
   if int(i)%2==0:
    sum=sum+int(i)
print(sum)

1243
6

#warp to sort tupels by total digits 
input:list=[(3,4,6,723),(1,2),(134,234,34)
output:[(1,2)(3,4,6,723)(34,134,234)]

In [29]:
list=[(3,4,6,723),(1,2),(134,234,34)]
list.sort()
print(list)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

#To find power of number using recursions

In [ ]:
def power(n,p):
if p==0 :
return 1
else :
return (n*power(n,p-1))
n=int(input("Enter a number "))
p=int(input("Enter power "))
r= power(n,p)
print(f"n^p = {r}")

#wrap that prints 1 if all the three given numbers are in assending order or print 0.
input=1,2,3

In [11]:
a=list(map(int, input("Enter number ").rstrip().split()))
b=[]
b.extend(a)
a.sort()
if a==b :
  print("1")
else :
  print("0")

Enter number 1 2 3
1

#Given a string count front back matches

In [15]:
a=input("Enter a word ")
s=0
l=len(a)//2
for i in range(l):
 x=a[i]
 y=a[-(i+1)]
if x==y :
 s+=1
print(s)

Enter a word abcefcba
0

#given an integer n,return a list containing  (inp:4 out: 1 2 2 3 3 3 4 4 4 4) and finaly n repeated n times(n>0)

In [25]:
n=int(input("enter your number :"))
a=[]
for i in range (n+1):
  for j in range (i):
    a.append(i)
print(a)

enter your number :4
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

#given list of students and a letter print all students whose name starts with that letter

In [27]:
n=input("Enter letter to be verified ")
n=n.lower()
r=[]
s=0
for i in range(int(input("Enter no. of students "))):
 a=input(f"Enter name of student no. {i+1} ")
 a=a.lower()
 p=a[0]
 if n==p :
  s+=1
  r.append(a)
print(f"Total {s} students matched\nThey are {r}")

Enter letter to be verified s
Enter no. of students 4
Enter name of student no. 1 dhan
Enter name of student no. 2 evd
Enter name of student no. 3 sam
Enter name of student no. 4 sasi
Total 2 students matched
They are ['sam', 'sasi']

#There is a walking track of 3kms.roundtrip of walking track means 3+3=6kms.no of round tripes.<40000 meters(need to walk more )>40000 meters (good job) 
1 round trip = 6km

In [28]:
a=int(input("Enter days "))
b=int(input("Enter round trips/day "))
c=a*b*6000
if c>= 40000 :
 print("Good job")
else :
 print("Need to walk more")

Enter days 3
Enter round trips/day 34
Good job