<a href="https://colab.research.google.com/github/Devenderalla/python-/blob/main/MODULE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
a=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
del a[0]
del a[3]
del a[3]
print(a)

['Green', 'White', 'Black']

#Create a function which accepts two inputs from the user and compute nCr

In [6]:
import math
a=int(input("Enter N "))
b=int(input("Enter R "))
if a<b :
 print("It's not possible ")
else :
 nf=math.factorial(a)
 rf=math.factorial(b)
 nnf=math.factorial((a-b))
 s=nf/(nnf*rf)
 print(f"nCr is {s}")

Enter N 44
Enter R 22
nCr is 2104098963720.0

#Recursive function to compute GCD of 2 numbers

In [ ]:
import math           #gcd=LCM
def GCD(x,y):
    r=x%y              #remainder
    if(r==0):
        return y
    else:
        return GCD(y,r)       #GCD(y,r) we have taken y is diviser and r is remainder.because they two are math functions.
n= int(input("Enter the first number :"))
m= int(input("Enter the second number :"))
print("The GCD of two numbers is:", GCD(n,m))

Enter the first number :18
Enter the second number :20
The GCD of two numbers is: 2

#Recursive function to generate Fibonacci series

In [ ]:
def fibonacci(n):
    if(n <= 1):
        return n
    else:
        return(fibonacci(n-1) + fibonacci(n-2))
n = int(input("Enter number of terms:"))
print("Fibonacci sequence:")
for i in range(n):
    print(fibonacci(i))

Enter number of terms:5
Fibonacci sequence:
0
1
1
2
3

##Program to get the difference between the two lists

In [ ]:
list1 = [23,45,31,76,89,56,99]
list2 = [54,66,11,34,23,99,31]
d12 = list(set(list1) - set(list2))     #d12=difference of list 1 and diff of list 2
d21 = list(set(list2) - set(list1))     #d21=difference of list 2 and diff of list 1
diff = d12 + d21                        #now diff and d12+d21 means remaing values which is not common
print(diff)

[56, 89, 76, 45, 66, 11, 34, 54]

#Program to find the second smallest number and second largest number in a list

In [ ]:
def second(a):          #second means function call
  a.sort()               
  print(a[1])    
  print(a[-2])
  print(a)
a=[1,99,44,58,2,60]
second(a)

2
60
[1, 2, 44, 58, 60, 99]

#Program to remove a key from a dictionary

In [ ]:
a = {"rrr":"ram",          
      "kgf":"yash",
      "svp":"mb"}
del a["rrr"]
print(a)

{'kgf': 'yash', 'svp': 'mb'}

#Program to get the maximum and minimum value in a dictionary

In [ ]:
a = {"English":74,
      "Maths":98,
      "Physics":87,
      "Vdc":56}
print(max(a.values()))
print(min(a.values()))

98
56

#Recursive function to find product of two numbers

In [ ]:
def product(a,b):
    if(a<b):
        return product(b,a)
    elif(b!=0):
        return(a+product(a,b-1))
    else:
        return 0
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
print("Product is: ",product(a,b))

Enter first number: 5
Enter second number: 7
Product is:  35

#Program for replacing one substring by another For example - Rabbit - Replace 'bb' by 'cc'

In [ ]:
a=input("enter a string: ")
b=a.replace("bb","cc")
print(b)

enter a string: Rabbit
Raccit

#Program to count the number of strings where the string length is 2 or more and 
the first and last character are same from a given list of strings 
x Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2

In [ ]:
list1 = ['abc', 'xyz', 'aba', '1221']
count=0
for item in list1:

  x = len(item)
  if x>=2:
    if item[0] == item[x-1]:
      count = count+1

print(count)

2

#Program to Acronym generator for any user input (ex-input is Random memory access then output
should be RMA).Example - Random number (RN)

In [7]:
a=list(map(str, input().rstrip().split()))
d=[]
for i in range(len(a)) :
 b=a[i]
 c=b[0]
 c=c.upper()
 d.append(c)
for i in range (len(d)) :
 print(d[i] , end ="")

43
4

#Program for replacing one substring by another

In [8]:
a=input("Enter your string ")
n=input("Enter substring to be replaced ")
m=input("Enter replacing substring ")
x=a.replace(n,m)
print(f"replaced string is {x}")

Enter your string 55
Enter substring to be replaced 34
Enter replacing substring 54
replaced string is 55

#Program for Counting occurrence of a certain element in a string

In [10]:
a=input("Enter your string ")
n=input("Enter element to be counted ")
f=a.count(n)
print(f"{n} is repeated {f} times")

Enter your string gangstar
Enter element to be counted gang
gang is repeated 1 times

#Program to perform operations on string using unicodes ,splitting of string,accessing elements of
string using locations

In [15]:
a=input("Enter your string ")
x=a.split()
n=int(input("Enter your index number "))
y=a[n]
print(f"original string is {a}\nsplitted string is {x}\nindex number points to {y}")

Enter your string 33
Enter your index number 44

IndexError: ignored

#Given list of tuples, remove all the tuples with length K

In [19]:
test = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
k=2
l=len(test)
for i in range (l) :
 l=len(test)
 a=test[i]
 tl=len(a)
 if tl==k :
   del test[i]
 if i==0 :
   break

#print(test)
Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x,
x*x).

In [23]:
n=int(input("Enter a number "))
a={}
for i in range(n) :
 k=(i+1)
 v=k*k
 a.update({k:v})

Enter a number 22