<a href="https://colab.research.google.com/github/Devenderalla/python-/blob/main/MODULE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#module 1

#Accept input from user and store it in variable and print the value.

In [ ]:
a=int(input("enter the num"))
print(a)

enter the num78
78

#Use of print statements and use of (.format )for printing different data types.

In [ ]:
a='sad'
b="my name is dev and i am {}"
print(b.format(a))

my name is dev and i am sad

#Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
the output (Same operations on floating point input as well)

In [ ]:
a=int(input("enter the num 1 :"))
b=int(input("enter the num 2 :"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

enter the num 1 :20
enter the num 2 :10
30
10
200
2.0
0

#Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
a=int(input("Enter the value in hrs: "))
b = a*60
print("The value in minutes is",b)

c=int(input("Enter value in miles: "))
d= c*0.621
print("The value in kms is", d)

Enter the value in hrs: 4
The value in minutes is 240
Enter value in miles: 2
The value in kms is 1.242

#Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,
pow, sqrt etc.

In [ ]:
import math
print(math.ceil(7.1))
print(math.floor(7.9))
print(math.fabs(7.5))
print(math.fmod(7,3))
print(math.trunc(68.78))
print(math.trunc(-2.3))

8
7
7.5
1.0
68
-2

#Building a mathematical calculator that can perform operations according to user input.
Use decision making statement.

In [ ]:
n = input("Enter an operator: ")
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
if n=='+':
  print(a+b)
elif n=='-':
  print(a-b)
elif n=='*':
  print(a*b)
elif n=='/':
  print(a/b)
elif n=='%':
  print(a%b)

Enter an operator: +
Enter first number: 4
Enter second number: 3
7

#Accepting 5 different subject marks from user and displaying the grade of the student.

In [ ]:
a=int(input("Enter the marks of subject 1: "))
b=int(input("Enter the marks of subject 2: "))
c=int(input("Enter the marks of subject 3: "))
d=int(input("Enter the marks of subject 4: "))
e=int(input("Enter the marks of subject 5: "))
avg = a+b+c+d+e//5

if 90<avg<100:
  print("A")
elif 80<avg<89:
  print("B")  
elif 70<avg<79:
  print("C")
else:
  print("Fail")

Enter the marks of subject 1: 56
Enter the marks of subject 2: 89
Enter the marks of subject 3: 45
Enter the marks of subject 4: 67
Enter the marks of subject 5: 78
Fail

#Printing all even numbers, odd numbers, count of even numbers, count of odd numbers 
within a given range.

In [ ]:
e=0
o=0
for i in range(1,100):
  if i%2==0:
    print(i,"is even")
    e=e+1
  else:
    print(i,"is odd")
    o=o+1  

print("Count of even numbers is",e)    
print("Count of odd numbers is",o)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
Count of even numbers is 49
Count of odd numbers is 50

#Compute the factorial of a given number. b) Compute GCD of two given 
numbers. c) Generate Fibonacci series up to N numbers.

In [ ]:
import math
print(math.factorial(4))
print(math.gcd(4,40))

24
4

In [ ]:
n = int(input("Enter n value: "))
a=0
b=1
print(a)
print(b)
for i in range(2,n+1):
	c=a+b
	print(c)
	a=b
	b=c

Enter n value: 10
0
1
1
2
3
5
8
13
21
34
55

#Check whether the given input is a) palindrome b) strong c) perfect

In [8]:
#palindrome
n=int(input("enter a number: "))
a=n
sum=0
while n>0:
     k=n%10
     sum=sum*10+k
     n = n//10
if sum ==a:
       print("palindrome")
else:
       print("not palindrome")

enter a number: 121
palindrome

In [12]:
#strong number
n=int(input("enter a number:"))
temp=n
sum=0
while n>0:
   i=1
   fact=1
   rem=n%10
   while i<=rem:
     fact=fact*i
     i=i+1
   sum=sum+fact
   n=n//10
if temp ==sum:
  print("strong number")
else:
  print("not a stronge number")

enter a number:145
strong number

#Compute compound interest using loop for a certain principal and interest amount

In [ ]:
p=int(input("enter the prinicipal amount"))
t=int(input("enter the time period"))
r=int(input("enter the rate of interest"))
for i in range(t):
    ci=p*(pow((1+r/100),t))
    t=t+1 
    print(ci)

enter the prinicipal amount250000
enter the time period1
enter the rate of interest36
339999.99999999994