<a href="https://colab.research.google.com/github/Devenderalla/python-/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#tuple

#Tuples are used to store multiple items in a single variable.

#Tuples are written with round brackets.

In [2]:
a=("rrr","kgf","gani")
print(a)

('rrr', 'kgf', 'gani')

#Tuples allow duplicate values

In [3]:
a=("rrr","kgf","gani","rrr","gani")
print(a)

('rrr', 'kgf', 'gani', 'rrr', 'gani')

#Tuple Length

In [4]:
a=("rrr","kgf","gani")
print(len(a))

3

#Create Tuple With One Item

#One item tuple, remember the comma

In [6]:
a=("kgf",)
print(type(a))
#not a tuple
a=("rrr")
print(type(a))

<class 'tuple'>
<class 'str'>

#Data Types

In [13]:
tuple1=("rrr","kgf","gani")
tuple2=(1,4,6,7,8)
tuple3=(True,False,True)
print(tuple1)
print(tuple2)
print(tuple3)

('rrr', 'kgf', 'gani')
(1, 4, 6, 7, 8)
(True, False, True)

#A tuple can contain different data types:

#A tuple with strings, integers and boolean values

In [15]:
tuple1=("abc",40,True,36,"men")
print(tuple1)

('abc', 40, True, 36, 'men')

#The tuple() Constructor

#It is also possible to use the tuple() constructor to make a tuple

In [17]:
a=tuple(("rrr","kgf","gani"))   #not the double bracekents print in output
print(a)

('rrr', 'kgf', 'gani')